.App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: #c23866;
  color: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
}

.card-info {
  text-align: center;
  color: #1b1523;
  font-weight: bold;
}

.card-info p {
  margin: 5px 0;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.new-game {
  position: absolute;
  top: 22%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}